<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Address Logistic Company
         </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a href="index.html">Home </a>
         <a href="#about">About</a>
         <a href="#service">Services  </a>
         <a href="#vehicles">Our Vehicles</a>
         <a href="#testimonial">Testimonial</a>
         <a href="#contact">Contact</a>
      </div>
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-4">
                     <div class="logo">
                        <style>
                           .h11 {
                              color: #007bff;
                           }
                        </style>
                        <a href="index.html"><h1 class="h11">Address</h1></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-8">
                     <div class="right_bottun">
                        <button class="openbtn" onclick="openNav()"><img src="{% static 'images/menu_icon.png' %}" alt="#"/> </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide banner_slide" data-ride="carousel">
            
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-7 col-lg-5">
                              <div class="text-bg">
                                 <h1>Best Logistic Company</h1>
                                 <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has i</span>
                                 <a class="read_more" href="#contact">Contact Us</a>
                              </div>
                           </div>
                           <div class="col-md-12 col-lg-7">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="ban_track">
                                       <figure><img src="{% static 'images/track.png' %}" alt="#"/></figure>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <form class="transfot" method="POST">
                                       {% csrf_token %}
                                       <div class="col-md-12">
                                          <span>Professional Services</span>
                                          <h3>Get your transport quote</h3>
                                       </div>
                                       <div class="col-md-12">
                                          <input class="transfot_form" placeholder="Location" type="text" name="location">
                                       </div>
                                       <div class="col-md-12">
                                          <input class="transfot_form" placeholder="To destination" type="text" name="to_destination">
                                       </div>
                                       <div class="col-md-12">
                                          <input class="transfot_form" placeholder="Email" type="text" name="email">
                                       </div>
                                       <div class="col-md-12">
                                          <input class="transfot_form" placeholder="Contact Number" type="text" name="number">
                                       </div>
                                       <div class="col-md-12">
                                          <button style="border-radius: 10px 20px 30px 40px; width: 200px;">Get Now quote</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- about section -->
      <div id="about" class="about ">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="about_right">
                     <figure><img src="{% static 'images/about.png' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="titlepage">
                     {% if about %}
                        {% for x in about %}
                           <h2>About Us</h2>
                           <p>
                              {{ x.dis }}
                           </p>
                        {% endfor %}
                     {% else %}
                        <h1 style="color: red;">About -- 404!</h1>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <!-- service section -->
      <div id="service" class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Our Services</h2>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, There </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="service_main">
                     {% if service %}
                        {% for x in service %}
                           <div class="{{x.background_color}}">
                              <i><img src="{{ x.icon.url }}" alt="#"/></i>
                              <h4>{{ x.title }}</h4>
                           </div>
                        {% endfor %}
                     {% else %}
                     </style>
                        <h1 style="color:red;">Service -- 404!</h1>
                     {% endif %}
                  </div>
               </div>
               <div class="col-md-12">
                  <br>
               </div>
            </div>
         </div>
      </div>
      <!-- end service section -->
      <!-- vehicles section -->
      <section id="vehicles" class="vehicles">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Vehicles</h2>
                     <p>nternet. It uses a dictionary of over 200 Latin words, combined with .</p>
                  </div>
               </div>
            </div>
         </div>
         <div id="veh" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#veh" data-slide-to="0" class="active"></li>
               <li data-target="#veh" data-slide-to="1"></li>
               <li data-target="#veh" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           {% if veh %}
                              {% for x in veh %}
                                 <div class="col-md-4">
                                    <div class="vehicles_truck">
                                       <figure><img src="{{ x.img.url }}" alt="#"/></figure>
                                    </div>
                                 </div>
                              {% endfor %}
                           {% else%}
                              <h1 style="color: red;">404</h1>
                           {% endif  %}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           {% if vehRail%}
                              {% for x in vehRail %}
                                 <div class="col-md-4">
                                    <div class="vehicles_truck">
                                       <figure><img src="{{ x.img.url }}" alt="#"/></figure>
                                    </div>
                                 </div>
                              {% endfor %}
                           {% else %}
                              <h1 style="color:red;">404</h1>
                           {% endif %}

                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container" >
                     <div class="carousel-caption">
                        <div class="row">
                           {% if vehAir%}
                              {% for x in vehAir%}
                                 <div class="col-md-4">
                                    <div class="vehicles_truck">
                                       <figure><img src="{{ x.img.url }}" alt="#"/></figure>
                                    </div>
                                 </div>
                              {% endfor %}
                           {% else %}
                              <h1 style="color:red;">404</h1>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#veh" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#veh" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                 <br>
               </div>
            </div>
         </div>
      </section>
      <!-- end vehicles section -->
      <!-- testimonial section -->
      <div id="testimonial" class="testimonial bottom_cross bottom_cross2">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Testimonials</h2>
                     <p>nternet. It uses a dictionary of over 200 Latin words, combined with .</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">

                        {% if test %}
                           {% for x in test %}
                              <div class="carousel-item active">
                                 <div class="container">
                                    <div class="carousel-caption ">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="testimonial_box">
                                                <figure><img src="{{ x.img.url }}" alt="#" style="width: 55px;"/></figure>
                                                <h3>{{ x.full_name }}<br><span class="kisu">({{ x.campany }})</span></h3>
                                                <p>{{x.comment}}</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           {% endfor %}
                           {% for x in testR %}
                              <div class="carousel-item">
                                 <div class="container">
                                    <div class="carousel-caption">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="testimonial_box">
                                                <figure><img src="{{ x.img.url }}" alt="#"/></figure>
                                                <h3>{{x.full_name }}<br><span class="kisu">({{x.company}})</span></h3>
                                                <p>{{x.comment}}</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           {% endfor %}
                        {% else %}
                           <h1>There are no testimonials yet</h1>
                        {% endif %}
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <i class="fa fa-caret-left" aria-hidden="true"></i>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <i class="fa fa-caret-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <br>
               </div>
            </div>
         </div>
      </div>
      <!-- end testimonial section -->
      <!-- choose section -->
      <div class="choose">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Why Choose Us</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-5">
                  <div class="choose_box">
                     <i><img src="{% static 'images/why1.png' %}" alt="#"/></i>
                     <h3>Our Vission</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                     <br>
                  </div>
               </div>
               <div class="col-md-5 offset-md-2">
                  <div class="choose_box">
                     <i><img src="{% static 'images/why2.png' %}" alt="#"/></i>
                     <h3>Estimate Shipping</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                     <br>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end choose section -->
      <!-- contact section -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Requst A call  for You</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="con_bg">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-5">
                     <form id="request" class="main_form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="contactus" placeholder="Name" type="text" name="name">
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Email" type="text" name="email">
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Phone Number" type="number" name="phone_number">
                           </div>
                           <div class="col-md-12">
                              <input class="contactusmess" placeholder="Message" type="text" name="message">
                           </div>
                           <div class="col-md-12">
                              <button class="send_btn" type="submit">Send</button>
                           </div>
                        </div>
                     </form>
                  </div>
                 <div class="col-md-7">
                     <div class="co_tru">
                        <figure><img src="{% static 'images/truc4.png' %}" alt="#"/></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact section -->
      <!--  footer -->
      <footer>
         <div class="footer bottom_cross1">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     {% for x in address %}
                        <ul class="location_icon">
                           <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Address : {{ x.address}} <br>
                           </li>
                           <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>Phone :  {{ x.phone_number }}</li>
                           <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>Email : {{ x.email }}</li>
                        </ul>
                     {% endfor %}
                     <form class="bottom_form">
                        {% csrf_token %}
                        <h3>Newsletter</h3>
                        <input class="enter" placeholder="Enter your email" type="text" name="email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                  </div>
                  <div class="col-md-8">
                     <div class="map">
                        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=667&amp;height=424&amp;hl=en&amp;q=Uzbekistan&amp;t=&amp;z=4&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embedmapgenerator.com/">embed google maps in website</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:424px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:424px;}.gmap_iframe {height:424px!important;}</style></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2022 All Rights Reserved. Developement by<a href="https://www.instagram.com/ezozbek01/"> Ezozbekdev</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
      </script>
   </body>
</html>

